<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Database User Interface</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
{{{body}}}
<script src="/js/client.js"></script>
</body>
</html>